<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/icon-lotus.png">

    <title>Eforea Nail and Body Spa</title>
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="assets/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Bootstrap -->
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="assets/CSS/carousel.css" rel="stylesheet">
    <link href="assets/CSS/style.css" rel="stylesheet">
    <link href="assets/CSS/animationscroll.css" rel="stylesheet">
    <link href="assets/CSS/parallax.css" rel="stylesheet">
    <link href="assets/CSS/reserve.css" rel="stylesheet">
    
  </head>

  <!-- NAVBAR -->
  <body>
        <nav class="navbar navbar-fixed-top">
          <div class="container-fluid"> 
            <div class="navbar-header">
              <a href="/" class="site_title">
              	<img src="assets/images/logo-2.png" class="home-logo" alt="Eforea Nail and Body Spa">
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/" id="active-menu"><b>Home</b></a></li>
                <li><a href="/services">Services</a></li>
                <!-- <li><a href="/schedule">Schedule</a></li> -->
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/reserve">Reserve Now</a></li>
              </ul>
            </div>
        </nav>

    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="assets/images/home-4.png" alt="Eforea Nail and Body Spa">
          <div class="container">
            <div class="carousel-caption">
            	<h1>Tired? Stressed?</h1>
              	<p class="p-1">Tired with all the stress? Stressed with all the deadlines?
              		<br />Well, sit down & relax. Let us handle that.</p>
              	<p><a class="btn btn-4" href="/reserve" role="button">Reserve Now</a></p> 
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="assets/images/home-5.png" alt="Eforea Nail and Body Spa">
          <div class="container">
            <div class="carousel-caption">
              <h1>Did someone say "party"?</h1>
              <p class="p-1">Pool Party? Costume party? Too clich&eacute;!<br />
              Try our spa party now!</p>
              <p><a class="btn btn-4" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="assets/images/about-us-3.png" alt="Eforea Nail and Body Spa">
          <div class="container">
            <div class="carousel-caption">
              <h1>Lots of services to choose from! Yay!</h1>
              <p class="p-1">Can't decide on what to choose from our menu? <br />
              Why don't you take a look at our most availed services? ;)</p>
              <p><a class="btn btn-4" href="#1" role="button">Browse</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <center>
      <img class="img-responsive" width="100" height="50" src="assets/images/icon-lotus.png" alt="Lotus-image">
    </center><br><br>

    <!-- Reasons Why People Choose Us -->
    <div class="second-wrapAUH">
        <div class="second-divH" id="2nddiv">
          <p style="color: black;">
            <span class="line-separator"></span> <strong>Reasons Why People Choose Us</strong> 
            <span class="line-separator"></span>
          </p>
          </div>
          <div class="third-div">
        </div>
    </div>

    <div class="container-fluid">
      <div class ="bodyAUH">
        <div class="row" style="padding-top: 50px;">
          <div class="col-md-12 col-lg-12">
           <div class="col-md-4 col-lg-4 ">
              <center>
                <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Ambiance" width="140" height="140">
                <h3 style="letter-spacing: 4px;">AMBIANCE</h3>
                <p>Every customers are promised with a setting that is pleasing to the eye. Very suitable for people who loves to stop thinking for a while and just relax.</p>
              </center>
            </div>
        
           <div class="col-md-4 col-lg-4 " style="border-right: solid; border-left: solid; border-color: lightgray; border-width: 2px;">
              <center>
                 <img class="img-circle" src="assets/images/icon-quality2.png" alt="Quality" width="140" height="140">
                  <h3 style="letter-spacing: 4px;">QUALITY</h3>
                  <p>All therapists are absolutely skilled and well-trained with massage and such that will provide customers a service like never before.</p>
              </center>
            </div>
         
            <div class="col-md-4 col-lg-4 ">
              <center>
                <img class="img-circle" src="assets/images/icon-affordable2.png" alt="Affordable" width="140" height="140">
                <h3 style="letter-spacing: 4px;">AFFORDABLE</h3>
                <p>Packages and Spa parties are also available wherein customers may enjoy their "chill time" without worrying about the cost.</p>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br>

    <div class="third-wrapAUH">
        <div class="second-divH" id="2nddiv">
          <p style="color: black;">
            <span class="line-separator"></span> <strong>Top 3: Most Availed Services (October)</strong> 
            <span class="line-separator"></span>
          </p>
          </div>
          <div class="third-div">
        </div>
    </div>

    <div class="container-fluid">
      <div class ="bodyAUH">
        <div class="row">
          <div class="col-md-12">
            <div class="row featurette ">
              <div class="col-md-7">
                <h2 class="mostavailed-head"><span style="font-size: 50px"><b>HOT STONE</b>
                </span style="font-size: 30px"><br /> <span>massage.</span></h2>
                <img class="img-responsive" style="float: left; padding-left: 30px;" src="assets/images/icon-lotus.png" alt="Lotus-image">
                <p class="lead" style="font-size: 17px;">A combining hot stone protocol with a full body massage provides a very healing and effective experience.</p>
                <p class="availed"> <b>Availed (this month): 32 times</b></p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="assets/images/service-1.jpg" 
                  alt="Hot Stone Massage" style="padding-top:50px; padding-bottom:50px;">
              </div>
            </div>

            <div class="row featurette ">
              <div class="col-md-7 col-md-push-5">
                <h2 class="mostavailed-head2"><span style="font-size: 50px"><b>BASIC</b>
                </span style="font-size: 30px"><br /> <span>nail polish. &nbsp</span></h2>
                <img class="img-responsive" style="float: right; padding-right: 40px;" src="assets/images/icon-lotus.png" alt="Lotus-image">
                <p style="text-align: right; padding-left: 50px; padding-right: 150px; font-size: 17px;">Discover EForea's latest collections of nail polish and nail care products. Get inspiration for your next nail art gallery.</p>
                <p class="availed2"> <b>Availed (this month): 30 times</b></p>
              </div>
              <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="assets/images/service-2.jpg" style="margin-top: 18%;" alt="Basic Nail Polish">
              </div>
            </div>

            <br /><br />
            <div class="row featurette ">
              <div class="col-md-7">
                <h2 class="mostavailed-head"><span style="font-size: 50px"><b>HALF-LEG</b>
                </span style="font-size: 30px"><br /> <span>hair waxing removal.</span></h2>
                <img class="img-responsive" style="float: left; padding-left: 30px;" src="assets/images/icon-lotus.png" alt="Lotus-image">
                <p class="lead" style="margin-bottom: 50px; font-size: 17px;">Waxing is, without a doubt, the best way to remain hair-free and smooth for a long time. And if hairy legs is a big NO for you, then come to us!</p>
                <p class="availed"> <b>Availed (this month): 24 times</b></p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="assets/images/service-3.jpg" style="margin-top: 13%" alt="Half-Leg Hair Waxing Removal">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- FOOTER -->
      <!-- <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer> -->
      <div class="footerE container-fluid">
    		<!-- <footer class="footerE">  -->
    		<div class="col-md-3">
    			<p id="footer-head"> <span style="font-size: 40px; letter-spacing: 13px;"><b>EFOREA</b></span> <br/>Nail and Body Spa </p>
    			<hr>
    		</div>
      		<div class="col-md-5" style="border-right: solid 1px; padding-top: 90px; padding-left: 40px;">
      			<div class="aboutus"> <!-- Address -->
      				<a target="_blank" href="https://www.google.com.ph/maps/place/71,+102+P.+Tuazon+Blvd,+Quezon+City,+1111+Metro+Manila/@14.616067,121.0506626,19.11z/data=!4m5!3m4!1s0x3397b7c156c80531:0xf237de0bfa01b1c3!8m2!3d14.616187!4d121.05116?hl=fil">
      				<img class="icon" src="assets/images/Icons/icon-address.png"/> 
      				<p class="icon-label"> Unit 102 #71 P. Tuazon St., <br /> 
      										Barangay Kaunlaran <br /> 1100 Quezon City, Philippines </p>
      				</a>
      			</div>
      			<div class="aboutus"> <!-- Contact Number -->
      				<img class="icon" src="assets/images/Icons/icon-phone.png"/> 
      				<p class=""> 0977 801 2700 <br /></p>
      			</div>
      			<div class="aboutus"> <!-- Facebook -->
      				<a target="_blank" href="https://www.facebook.com/eforeanailandbodyspa">
      				<img class="icon" src="assets/images/Icons/icon-fb.png"/> 
      				<p class="icon-label"> web.facebook.com/eforeanailandbodyspa</p>
      				</a>
      			</div>
      			<div class="aboutus"> <!-- Instagram -->
      				<a target="_blank" href="https://www.instagram.com/eforeanailandbodyspa">
      				<img class="icon" src="assets/images/Icons/icon-insta.png"/> 
      				<p class="icon-label"> www.instagram.com/eforeanailandbodyspa</p>
      				</a>
            </div>
            <ul style="list-style-type: none;" class="pull-right">
              <li style="margin-bottom: 5px"><div class="fb-share-button" data-href="http://eforea.herokuapp.com" data-layout="button_count"></div><br></li>
              <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
              <li><div class="g-plus" data-action="share"></div></li>
            </ul>
      		</div>
		
      		<div class="col-md-4" style="padding-top: 90px;">
      			<img class="img-responsive" style="float: right; padding-right: 30px; padding-top: 120px" width="100" height="50" src="assets/images/icon-lotus.png" alt="Lotus-image">
      			<ul class = "services" style = "list-style-type: none">
      				<li><a href="/index" class="footer-a">Home</a></li>
      	            <li><a href="/services" class="footer-a">Services</a></li>
      	            <!-- <li><a href="/spa-party" class="footer-a">Spa Party</a></li> -->
      	            <!-- <li><a href="/schedule" class="footer-a">Schedule</a></li> -->
      	            <li><a href="/about-us" class="footer-a">About Us</a></li>
      	            <li><a href="/reserve" class="footer-a">Reserve Now</a></li>
      			</ul>
      		</div>
		
      		<div id="copyright" class="container-fluid">
      			&copy; Copyright 2018
      		</div>
	     <!-- </footer> -->
      </div>

   <a href="#" id="back-to-top" title="Back to top">&uarr;</a> 

	 <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script src='https://code.jquery.com/jquery-1.10.1.min.js'></script>

    <script type="text/javascript" src="assets/js/scroll.js"></script>
    <script type="text/javascript" src="assets/js/navbar-scroll.js"></script>
    <script type="text/javascript" src="assets/js/animationscroll.js"></script>
    <script type="text/javascript" src="assets/js/parallax.js"></script>

    <!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="assests/js/scripts.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <!-- <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script> -->
  </body>
</html>
