<!DOCTYPE html>
<html>
	<head>
		<title> EForea - Spa Party </title>

	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->

	    <!-- CSS -->
	    <link href="assets/css/carousel.css" rel="stylesheet">
	    <link href="assets/css/style.css" rel="stylesheet">
	    <link href="assets/css/animationscroll.css" rel="stylesheet">
	    <link href="assets/css/navbar.css" rel="stylesheet">
	    <link href="assets/css/navbar-hover.css" rel="stylesheet">

	</head>

	<body>

		<div class="container">
	    <div id="header"> 
			<div class="div-menu"> <!-- Menu Bar -->
					<button type="button" class="menu-btn"> <a href="/"> <b> Home </b> </a> </button>	
					<button type="button" class="menu-btn"> <a href="/services"> <b> Services </b> </a> </button>
					<button type="button" class="menu-btn"> <a href="/sched"> <b> Schedule </b> </a> </button>
					<button type="button" id="active-menu-btn" class="menu-btn"> <a href="#"> <b> Spa Party </b> </a> </button>
					<button type="button" class="menu-btn"> <a href="/reservation"> <b><u> Reserve Now </b></u> </a> </button>
					<button type="button" class="menu-btn"> <a href="/about"> <b> About Us </b> </a> </li> </button>
				</div>	
			</div>
		</div>

		<div id="partytitle"> Spa Party<br /></div>
		<div id="spa-party">
		 <p>
			We, EFOREA NAIL AND BODY SPA, just love to host spa parties. Everyone is excited and the atmosphere is so much fun. Our treatments are unique and pleasant, our staffs are friendly and professional, our products are aimed to work and treat. The time you spend in our spa will be stress free. We want to provide the best service to all our guests. Great care goes into preparation for each and every service so that our guests receive the best service and pampering.
			<br /><br /> Spa parties are a wonderful way to celebrate a special occasion, whether it’s for a birthday, a baby shower, a wedding shower, a girls’ or guys’ night out, a holiday party a sweet sixteen celebration, Reunion, Baptism, Job promotions, Moving/Farewell, Hosting out-of-town friends, Get together with good friends, Quality time with your love ones, Holy days, and a bachelor or bachelorette party.
		</P>
		</div>
		<div class="nothing"><br /><b> Our packages include:	</b></div>
		<div class="pack"><br /><br /><b>Package 1</b></div>
		<div id="package1">
			<P>
				<br />	•	Foot spa with your chosen skin treatment
				<br />	•	Pedicure with polish
				<br />	•	Manicure with polish
				<br /><br />Price: PHP 1,100 per person
				<br />Additional per person PHP 950	
			</P>
		</div>
		<div class="pack"><br /><br /><b>Package 2</b></div>
		<div id="package2">
			<P>
				<br />	•	Hand Reflexology
				<br />	•	Manicure with polish
				<br />	•	Foots spa with your chosen skin treatment
				<br />	•	Pedicure with polish
				<br /><br />Price: 1,299 per person
				<br />Additional per person PHP 1,100
			</P>
		</div>	
		<div class="pack"><br /><br /><b>Package 3</b></div>
		<div id="package3">
			<P>	
				<br />	•	Whole body Swedish Massage (1 hour)
				<br />	•	Foot spa with your chosen skin treatment
				<br />	•	Pedicure with polish
				<br />	•	Manicure with polish
				<br /><br />Price: 1,399 per person
				<br />Additional per person PHP 1,200
			</P>
		</div>
		<div class="pack"><br /><br /><b>Package 4</b></div>
		<div id="package4">
			<P>
				<br />	•	Create your own package for PHP 10,000 minimum worth of services.
			</P>
		</div>
		<div class="pack"><br /><br /><b>Note</b></div>
		<div id="note">
			<P>
				<br />	•	Exclusive use of venue 3 hours
				<br />	•	Minimum of 6 persons
				<br />	•	Maximum of 15 persons	
				<br />	•	For additional person the time for exclusive venue will automatically adjusted
				<br />	•	Additional time request PHP 950 per hour
			<P>
		</div>

	</body>
</html>