<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="assets/images/icon-lotus.png">

  <title>Eforea | Reserve Now</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="assets/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!--[if lt IE 9]>
      <script src="bootstrap-3.3.6/docs/assets/js/ie8-responsive-file-warning.js"></script>
    [endif]
    <script src="bootstrap-3.3.6/docs/assets/js/ie-emulation-modes-warning.js"></script>

    [if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    [endif] -->

  <link href="assets/CSS/reserve.css" rel="stylesheet">
  <link href="assets/CSS/carousel.css" rel="stylesheet">
  <link href="public/CSS/sweetalert.css" rel="stylesheet">
  <link href="public/CSS/jquery.timepicker.css" rel="stylesheet">
  <link href="public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

  <!-- Fixed navbar -->
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="site_title">
          <img src="assets/images/logo-2.png" style="display: block; float: left; margin-left: 10px; margin-right: auto; width: 38%; padding-top: 1px;"
          alt="Eforea Nail and Body Spa">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/schedule">Schedule</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="#" id="active-menu"><b>Reserve Now</b></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <hr>
  <div aria-hidden="true">
    <div class="container-fluid" style="padding-top: 40px;">
      <div class="row">
        <!-- List of Services + Search Bar -->
        <div class="col-md-2 sidebar" style="padding-top: 35px;">
          <h3 class="h3-categories"> Categories </h3>

          <form class="search-container" action="#" onsubmit="searchService()">
            <input type="text" id="search-bar" placeholder="Search for a service...">
            <a href="#">
              <img class="search-icon" src="assets/images/search-icon.png">
            </a>
          </form>
          <ul class="nav-sidebar category-list">
            
          </ul>
        </div>

        <div class="col-md-7 col-md-offset-2 main">
          <div class="alert alert-info" id="stickyServ">
            <h2 class="modal-title" id="linkserv1" style="text-align: center;">SERVICES Offered</h2>
          </div>
          <div class="service-list"></div>
        </div>
        <!-- End of Column 7 -->

        <div class="col-md-3 div-orders sidebar2" style="padding-top: 30px; ">
          <h3 class="headServ" style="font-size: 20px;">Your Order(s)</h3>
          <hr>
          <div class="order-container" style="overflow-y: auto; height: 150px; overflow-x:hidden"></div>
          <br />
          <button type="button" class="btn btn-primary" style="float: right;" name="btnDoneOrder" data-toggle="modal" data-target="#doneConfirmModal" onclick="doneFunction()">
            Done </button>
          <button type="button" onclick="viewOrderModal()" class="btn btn-primary" style="float: right;" name="btnViewOrder" data-toggle="modal" data-target="#viewOrderModal">
            <span class="fa fa-eye"></span> View </button>
          <hr>
          <p style="text-align: right;"> TOTAL: Php
            <span class="totalParag">0</span>.00</p>
            <img class="img-responsive" style="float: right; padding-right: 30px; padding-top: 110px" width="100" height="50" src="assets/images/icon-lotus.png" alt="Lotus-image">
          <br />
          <h4><strong>CONTACT US!</strong></h4>
          <p>EForea Nail and Body Spa</p>
          <p>Unit 102 #71 P. Tuazon St.,
            <br /> Barangay Kaunlaran
            <br /> 1100 Quezon City, Philippines</p>
          <p>0977 801 2700</p>
        </div>
        <!-- End of Column 2/Sidebar2 -->
      </div>
      <!-- End of Row -->
    </div>
    <!-- End of Body -->
  </div>

  <!-- Modals -->
  <!-- View Order Modal -->
  <div class="modal fade" id="viewOrderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span style="color: white; font-size: 25px;">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Your Service Cart</h4>
        </div>
        <div class="modal-body viewOrderMod">
          <table width="100%">
            <tr>
              <th class="th-modal" width="15%"> Quantity </th>
              <th class="th-modal" width="50%"> Service </th>
              <th class="th-modal" width="20%"> Amount </th>
              <th class="th-modal" width="30%"> Total Amount </th>
            </tr>
            <tr>
              <td class="td-quantity"> 2 </td>
              <td> MS-Swedish Massage </td>
              <td> 399.00 </td>
              <td> 798.00 </td>
            </tr>
            <tr>
              <td> 1 </td>
              <td> BS-Anti Aging Body Scrub </td>
              <td> 900.00 </td>
              <td> 900.00 </td>
            </tr>
            <tr>
              <td> 2 </td>
              <td> OS-Ear Candling </td>
              <td> 200.00 </td>
              <td> 400.00 </td>
            </tr>
          </table>
          <hr>
          <p style="text-align: right; font-size: 17px;">
            <strong>Total:</strong>
            <span style="font-size: 15px;" class="badge">Php 2,098.00</span>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- DONE ORDER MODAL -->
  <div class="modal fade" id="doneConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span style="color: white">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Reserve Now</h4>
        </div>
        <div class="modal-body" style="height: auto;">
         <div class="right_col">
          <div>
            <div class="clearfix"></div>
              <div class="x_content">
                <!-- Smart Wizard -->
                <br>
                <div id="wizard" class="form_wizard wizard_horizontal">
                  <ul class="wizard_steps">
                    <li>
                      <a href="#step-1">
                        <span class="step_no">1</span>
                        <span class="step_descr">Step 1<br />
                                          <small>Type of Service Reservation</small></span></a>
                    </li>
                    <li>
                      <a href="#step-2">
                        <span class="step_no">2</span>
                        <span class="step_descr">Step 2<br />
                                          <small>Contact information &amp; Reservation Details</small></span></a>
                    </li>
                    <li>
                      <a href="#step-3">
                        <span class="step_no">3</span>
                        <span class="step_descr">Step 3<br />
                                          <small>Confirm Reservation</small></span></a>
                    </li>
                  </ul>

                  <!-- Start of Step 1 -->
                  <div id="step-1" style="visibility: visible;">
                  <hr>
                  <center><h2>Type of Service Reservation</h2>
                  <p>Select type of service to reserve.</p><br><br>
                    <form class="form-horizontal form-label-left">
                      <div class="form-group">
                        <div>
                          <input type="radio" id="servtype1" name="selector" onclick="servCheck()">
                          <label class="radlab" for="servtype1">Home Service</label>
                          <input type="radio" id="servtype2" name="selector" onclick="servCheck()">
                          <label class="radlab" for="servtype2">Regular Service</label>
                        </div>
                      </div>
                      <hr>
                      <div style="padding-right: 20px">
                        <button type="button" href="#step-2" id="next1" class="buttonNext btn pull-right" style="width: 80px">Next</button><br>
                      </div>
                    </form>
                  </div>
                  <!-- End of Step 1 -->

                  <!-- Start of Step 2 -->
                  <div id="step-2">
                  <br><hr>
                  <center><h2>Contact Information &amp; Reservation Details</h2>
                  <p>Fill in your personal and reservation details.</p><br>
                  <div class="servicediv" id="servicediv">Home Service</div><br><br>
                </center>
                    <form class="form-horizontal form-label-left">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <input type="text" id="first-name" required class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <input type="text" id="last-name" name="last-name" required class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="radio">
                            <input id="gender1" name="gender" type="radio" checked>
                            <label for="gender1" class="radio-label">Male</label>
                          </div>
                          <div class="radio">
                            <input id="gender2" name="gender" type="radio">
                            <label  for="gender2" class="radio-label">Female</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group" id="divaddress">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">Address <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <input type="text" id="address" name="address" required class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group" id="divcontnum">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="contnum">Contact Number <span class="required">*</span>
                        </label>
                        <div class="col-md-7 col-sm-7 col-xs-12">
                          <input type="text" id="contnum" name="contnum" required class="form-control col-md-7 col-xs-12">
                        </div>
                      </div><br><br>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date of Treatment <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                          <input type="text" id="date" data-format="DD-MM-YYYY" data-template="D MMM YYYY" name="date" value="02-04-2018" class="form-control" required>
                            <script>
                            $(function(){
                                $('#date').combodate();    
                            });
                            </script>
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">Preferred Time <span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                         <input type="text" id="time" data-format="h:mm" data-template="h : mm" name="time" value="12:00" class="form-control" required="required">
                         <p style="float: right;">PM</p>
                          <script>
                          $(function(){
                              $('#time').combodate({
                                  firstItem: 'none', //show 'hour' and 'minute' string at first item of dropdown
                                  minuteStep: 5
                              });  
                          });
                          </script>
                        </div>
                      </div>
                      <hr>
                      <div class="form-group" style="padding-right: 20px">
                        <button type="button" id="next2" class="buttonNext btn pull-right" style="width: 80px;">Next</button>
                        <button type="button" href="#step-1" id="prev1" class="buttonPrevious btn pull-right" style="width: 100px; margin-right: 5px">Previous</button>
                      </div>
                    </form>
                  </div>
                  <!-- End of Step 2 -->

                   <!-- Start of Step 3 -->
                  <div id="step-3">
                  <hr>
                  <center><h2>Confirm Reservation</h2>
                  <p>Review your details and important notes before clicking 'Reserve Now'.</p><br><br>
                    <form class="form-horizontal form-label-left">
                      <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="pull-right" style="padding-right: 20px;">
                            <h5 style="float: left;">Date:&nbsp;&nbsp;&nbsp;</h5>
                            <h5 id="datetoday" style="float: right;"></h5>
                            <script>
                              n =  new Date();
                              y = n.getFullYear();
                              m = n.getMonth() + 1;
                              d = n.getDate();
                              document.getElementById("datetoday").innerHTML = m + "/" + d + "/" + y;
                            </script>
                          </div>
                        </div>

                        <div style="padding-left: 20px">
                            <p id="custName" class="custName">Graciella C. Tatel</p>
                            <p id="custAddress" class="custAddress">RC 11 Area G, CSJDM, Bulacan</p>
                        </div><br><hr width="200px" class="pull-left"><br><br><br>

                        <div style="padding-left: 20px">
                            <p style="text-align: left; text-transform: uppercase;"> Service(s) to Reserve:</p>
                             <table width="100%">
                              <tr>
                                <th class="th-modal" width="20%"> Quantity </th>
                                <th class="th-modal" width="40%"> Service </th>
                                <th class="th-modal" width="20%"> Amount </th>
                                <th class="th-modal" width="30%"> Total Amount </th>
                              </tr>
                              <tr>
                                <td class="td-quantity"> 2 </td>
                                <td> MS-Swedish Massage </td>
                                <td> 399.00 </td>
                                <td> 798.00 </td>
                              </tr>
                              <tr>
                                <td> 1 </td>
                                <td> BS-Anti Aging Body Scrub </td>
                                <td> 900.00 </td>
                                <td> 900.00 </td>
                              </tr>
                              <tr>
                                <td> 2 </td>
                                <td> OS-Ear Candling </td>
                                <td> 200.00 </td>
                                <td> 400.00 </td>
                              </tr>
                            </table>
                            <hr>
                            <p style="text-align: right; font-size: 17px;">
                              <strong>Total:</strong>
                              <span style="font-size: 15px; margin-right: 10px;" class="badge">Php 2,098.00</span>
                            </p>
                        </div><br>
                        <div class="row">
                          <div class="col-md-6 col-lg-6 col-xs-12" style="padding-left: 30px">
                            <p style="text-align: left; text-transform: uppercase;">Date and Time of Treatment: </p>
                            <p id="datetimeReserve" class="custAddress">Tuesday, April 3, 2018  1:00 PM</p>
                          </div>
                          <div class="col-md-2 col-lg-2 col-xs-12">
                            <span class="fa fa-exclamation-circle" style="color: black"></span>
                          </div>
                          <div class="col-md-4 col-lg-4 col-xs-12">
                          </div>
                        </div>
                        <br><br>
                        <div style="background-color: #9E2F46; margin: 0px; padding: 5px;">
                          <h3 style="text-align: center; color: white">Important Notice:</h3>
                        </div>
                        <div>
                          <p class="notifdiv">No cancellation of reservation.</p>
                          <p class="notifdiv">Payment shall be made upon completion of service.</p>
                          <p class="notifdiv2">An immediate on-screen confirmation shall be received after submitting the form. <strong>Do not exit the page until the confirmation is received.</strong></p>
                        </div>
                        <div class="checkbox" style="padding-left: 500px; text-align: left;">
                          <label><input type="checkbox" id="agree" value="">I hereby acknowledge that <strong>I have read and understood</strong> the agreement as provided by the Eforea Nail and Body Spa.</label>
                        </div><hr>
                      </div>
                      <div class="form-group" style="padding-right: 20px">
                        <a href="#" id="finish" class="buttonFinish btn" style="width: 150px; float: right; margin-right: 5px">Reserve Now!</a>
                        <a href="#step-2" id="prev2" class="buttonPrevious btn pull-right" style="width: 100px; float: left; margin-right: 5px">Previous</a>
                      </div>
                    </form>
                  </div>
                  <!-- End of Step 3 -->
                </div>
                <!-- End SmartWizard Content -->
              </div>
          </div>
        </div>
        <br />
        </div>
      </div>
    </div>
  </div>

  <!-- ADD TO CART MODAL -->
  <div class="modal fade" id="addCartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add to Cart?</h4>
        </div>
        <div class="modal-body">
          <center>
            <table width="100%">
              <tr style="background-color: #D9E3EA;">
                <th class="thtd-addCart">Service Name: </th>
                <td class="thtd-addCart">
                  <span id="serviceHolder"></span>
                </td>
              </tr>
              <tr>
                <th class="thtd-addCart">Price: </th>
                <td class="thtd-addCart">
                  <span id="priceHolder"></span>
                </td>
              </tr>
              <tr>
                <th class="thtd-addCart">Quantity: </th>
                <td class="thtd-addCart">
                  <input type="number" id="itemnum" name="txtQuantity" value=1 min=1 max=5 style="width: 100px;"> </td>
              </tr>
            </table>
          </center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <input type="hidden" id="item_id" value="">
          <input type="submit" onclick="addToCart()" name="btnAddOrder" data-dismiss="modal" class="btn btn-primary" value="Add">
        </div>
      </div>
    </div>
  </div>

  <!-- INFO MODAL -->
  <div class="modal fade" id="infoServiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title info-label">BlahBlah Lorem</h4>
        </div>
        <div class="modal-body">
          <center>
            <img src="assets/images/s-swedish.jpg" width="300" height="300">
            <h4>Description:</h4>
            <p class="info-desc"></p>
            <h5>
              <strong>Price:</strong> PHP
              <span class="info-price"></span>/
              <span class="info-time"></span>minutes
            </h5>
          </center>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- User Data Modal -->
  <div class="modal fade" id="getUserData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title info-label">Information</h4>
        </div>
        <form id="userData" action="#">
          <div class="modal-body">
            <center>
              <div class="row">
                <div class="col-md-3">
                  <label>Name: </label>
                </div>
                <input type="text" name="uname" placeholder="Name">
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Contact Number: </label>
                </div>
                <input type="text" name="number" placeholder="Contact">
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Address: </label>
                </div>
                <input type="text" name="address" placeholder="Address">
              </div>
              <div class="row">
                <div class="col-md-3">
                  <label>Reservation Date: </label>
                </div>
                <input type="date" name="data">
              </div>
            </center>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="validateInfo()" value="Confirm">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="assets/bootstrap/assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="assets/js/scroll.js"></script>
  <script type="text/javascript" src="assets/js/navbar-scroll.js"></script>
  <script type="text/javascript" src="assets/js/ejs_production.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>
  <script type="text/javascript" src="assets/js/sweetalert.min.js"></script>
  <script type="text/javascript" src="assets/js/combodate.js"></script>
  <script type="text/javascript" src="assets/js/jquery.timepicker.min.js"></script>
</body>

</html>