<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eforea - Services</title>

    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link href="assets/CSS/carousel.css" rel="stylesheet">
    <link href="assets/CSS/style.css" rel="stylesheet">
    <link href="assets/CSS/animationscroll.css" rel="stylesheet">
    <link href="assets/CSS/navbar.css" rel="stylesheet">
    <link href="assets/CSS/navbar-hover.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-fixed-top nav">
            <div class="row">
                <div class="navbar-header logo container">
                    <img class="nav-icon" src="assets/images/logo-2.png" alt="Eforea Nail and Body Spa">
                </div>
                <div id="navbar1" class="main_list linewidth">
                    <ul class="navlinks">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="#" id="active-menu">
                                <b>Services</b>
                            </a>
                        </li>
                        <li>
                            <a href="spa-party">Spa Party</a>
                        </li>
                        <li>
                            <a href="schedule">Schedule</a>
                        </li>
                        <li>
                            <a href="about-us">About Us</a>
                        </li>
                        <li>
                            <a href="reserve-now" class="reserve-btn">Reserve Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="myCarousel" class="carousel" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="assets/images/service-main.jpg" alt="Eforea Nail and Body Spa - Services">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div id="sidebar-nav" class="sidebar">
                    <div class="sidebar-scroll">
                        <div class="container">
                            <div class="col-md-3">
                                <form class="search-container">
                                    <input type="text" id="search-bar" placeholder="Search for a service...">
                                    <a href="#">
                                        <img class="search-icon" src="assets/images/search-icon.png">
                                    </a>
                                </form>
                                <div style="border-left: solid 5px #034777;">
                                    <h3 style="padding-left: 10px;"> List of Services </h3>
                                </div>
                                <hr>
                                <ul class="list-ul">
                                    <li>
                                        <a href="#linkserv1">Massage Services</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv1">Swedish Massage</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv1">Shiatsu Massage</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv1">Combination Massage</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv1">Filipino Pride Massage</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv1">Ventosa</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv1">Hot Stone Massage</a>
                                    </li>
                                </ul>
                                <hr class="list-hr">
                                <ul class="list-ul">
                                    <li>
                                        <a href="#linkserv2">Body Scrub</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv2">Glutathione Body Scrub</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv2">Fruit Extract Whitening Body Scrub</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv2">Combination Massage</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv2">Dead Sea Salt Body Scrub</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv2">Anti-Aging Body Scrub</a>
                                    </li>
                                    <li class="min-serv">
                                        <a href="#linkserv3">Packages</a>
                                    </li>
                                </ul>
                                <hr class="list-hr">
                                <ul class="list-ul">
                                    <li>
                                        <a href="#linkserv4">Spa Treatment</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv4">Hand Spa</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv4">Foot Spa</a>
                                    </li>
                                    <li class="min-serv">
                                        <a href="#linkserv4">Packages </a>
                                    </li>
                                </ul>
                                <hr class="list-hr">
                                <ul class="list-ul">
                                    <li>
                                        <a href="#linkserv5">Paraffin Treatment</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv5">Hand Paraffin</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv5">Hand Paraffin with Manicure</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv5">Foot Paraffin</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv5">Foot Paraffin with Pedicure</a>
                                    </li>
                                </ul>
                                <hr class="list-hr">
                                <ul class="list-ul">
                                    <li>
                                        <a href="#linkserv6">Straight</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv6">Basic Cleaning</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv6">Basic with Nail Polish</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv6">Polish Change</a>
                                    </li>
                                </ul>
                                <hr class="list-hr">
                                <ul class="list-ul">
                                    <li>
                                        <a href="#linkserv7">Hair Waxing Removal</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Upper Lip</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Lower Lip</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Face</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Fingers</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Toes</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Underarm</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Arms</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Chest</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Back</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Bikini</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Brazilian</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Half Leg</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Full Leg</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv7">Full Body</a>
                                    </li>
                                    <li class="min-serv">
                                        <a href="#linkserv8">Packages </a>
                                    </li>
                                </ul>
                                <hr class="list-hr">
                                <ul class="list-ul">
                                    <li>
                                        <a href="#linkserv9">Glutathione Drip “12G”</a>
                                    </li>
                                    <li>
                                        <a href="#linkserv10">Glutathione IV Push</a>
                                    </li>
                                    <li>
                                        <a href="#linkserv11">Traditional Herbal Steam Bath “Suob”</a>
                                    </li>
                                </ul>
                                <hr class="list-hr">
                                <ul class="list-ul">
                                    <li>
                                        <a href="#linkserv15">Other Services</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv15">Reflexology</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv15">Ear Candling </a>
                                    </li>
                                </ul>
                                <hr class="list-hr">
                                <h4> Kiddie Price</h4>
                                <ul class="list-ul">
                                    <li class="max-serv">
                                        <a href="#linkserv12">Swedish Massage</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv13">Spa Treatment</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv14">Basic Cleaning</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv14">Basic with Nail Polish</a>
                                    </li>
                                    <li class="max-serv">
                                        <a href="#linkserv14">Polish Change</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="main">
                    <div class="main-content">
                        <div class="container-fluid">
                            <div class="col-md-9 body-services">
                                <h1 class="h1-serv"> Massage Services </h1>
                                <div class="row animatable bounceIn" style="padding-top: 30px; ">
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Swedish Massage</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp It is a various hands-on techniques
                                            including gliding, kneading, and cross-fiber friction to break up muscle knots,
                                            called adhesions.
                                        </p>
                                        <p>
                                            <b>Price: PHP 399.00 / 60mins </b>
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Shiatsu Massage Massage</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Shiatsu calms an overactive sympathetic
                                            nervous systems, which improves circulation, relieves stiff muscles, and alleviates
                                            stress.
                                        </p>
                                        <p>
                                            <b>Price: PHP 499.00 / 60mins </b>
                                        </p>
                                    </div>
                                </div>

                                <div class="row animatable bounceIn" style="padding-top: 30px; ">
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Combination Massage</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp It is the optimum benefits of
                                            relaxation from the perfect combination of Swedish massage and Shiatsu massage
                                            a technique utilizes the use of fingers and palms to apply pressure to the body.
                                            The combined techniques ease tension, increase circulation and energy flow and
                                            reduce fatigue resulting to overall rejuvenation. </p>
                                        <p>
                                            <b>Price: PHP 599.00 / 60mins </b>
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Filipino Pride Massage</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp A Filipino healing technique uses
                                            warm banana leaves to scan imbalances in the four elements of the body the fire,
                                            water, earth and air. The combination of firm kneading and deep tissue strokes
                                            results in an effective treatment of sore and stiff muscles, relieving pain and
                                            creating the desired harmony of all elements of the body thus promoting self-healing.</p>
                                        <p>
                                            <b>Price: PHP 499.00 / 60mins </b>
                                        </p>
                                    </div>
                                </div>

                                <div class="row animatable bounceIn" style="padding-top: 30px; ">
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Ventosa</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp It is of the many alternative
                                            medicines that improve blood flow and the overall health of a person. The procedure
                                            is done by creating a localized suction on the skin of a person, thereby alleviating
                                            body pains and uplifting the condition of the organs. </p>
                                        <p>
                                            <b>Price: PHP 599.00 / 60mins </b>
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Hot Stone Massage</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp A Combining hot stone protocol
                                            with a full body massage provides a very healing and effective experience. The
                                            hot stones also expand blood vessels, which encourages blood flow throughout
                                            the body. The hot stones have a sedative effect that can relieve chronic pain,
                                            reduce stress and promote deep relaxation.
                                        </p>
                                        <p>
                                            <b>Price: PHP 499.00 / 60mins </b>
                                        </p>
                                    </div>
                                </div>

                                <hr>
                                <h1 class="h1-serv"> Body Scrub </h1>
                                <div class="row animatable bounceIn" style="padding-top: 30px; ">
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Glutathione Body Scrub</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp It is of the many alternative
                                            medicines that improve blood flow and the overall health of a person. The procedure
                                            is done by creating a localized suction on the skin of a person, thereby alleviating
                                            body pains and uplifting the condition of the organs. </p>
                                        <p>
                                            <b>Price: PHP 1,400.00 / 60mins </b>
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Fruit Extract Whitening Body Scrub</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp A Combining hot stone protocol
                                            with a full body massage provides a very healing and effective experience. The
                                            hot stones also expand blood vessels, which encourages blood flow throughout
                                            the body. The hot stones have a sedative effect that can relieve chronic pain,
                                            reduce stress and promote deep relaxation.
                                        </p>
                                        <p>
                                            <b>Price: PHP 1,100.00 / 60mins </b>
                                        </p>
                                    </div>
                                </div>

                                <div class="row animatable bounceIn" style="padding-top: 30px; ">
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Dead Sea Salt Body Scrub</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp It exfoliates your skin, removing
                                            the outermost layer of dead skin cells and leaving your skin softer and smoother.</p>
                                        <p>
                                            <b>Price: PHP 1,100.00 / 60mins </b>
                                        </p>
                                    </div>
                                    <div class="col-lg-6">
                                        <img class="img-circle" src="assets/images/icon-ambiance2.png" alt="Generic placeholder image" width="140" height="140">
                                        <h3 style="letter-spacing: 4px;">Anti-Aging Body Scrub</h3>
                                        <p style="text-align: justify;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Using the slightly abrasive texture
                                            of dry green tea leaves and honey act as a great exfoliate to scrub off dead
                                            skin cells and pollutants, leaving your skin soft and smooth.
                                            <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Green tea leaves also have
                                            great anti-inflammatory properties and help reduce blemishes and scars. Green
                                            tea has anti-aging and antioxidant benefits that can help delay signs of skin-aging.</p>
                                        <p>
                                            <b>Price: PHP 900.00 / 60mins </b>
                                        </p>
                                    </div>
                                </div>
                                <h1 class="h1-pack"> Packages: </h1>
                                <div class="row">
                                    <div class="div-pack col-md-12">
                                        <table class="table-striped pack-1">
                                            <thead>
                                                <tr>
                                                    <th style="padding: 10px; text-align: center;">Service Package</th>
                                                    <th style="padding: 10px; text-align: center;">Price</th>
                                                </tr>
                                            </thead>
                                            <tr class="">
                                                <td class="pack-td">Anti-Aging Body Scrub (60mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Shiatsu
                                                    Massage (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Dead Sea Salt Body Scrub (60Mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Swedish
                                                    Massage (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Fruit Extract Whitening Body Scrub (60Mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Swedish
                                                    Massage (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,300.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Glutathione Body Scrub (60Mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Swedish
                                                    Massage (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,600.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Anti-Aging Body Scrub (60mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Combination
                                                    Massage (90Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,300.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Dead Sea Salt Body Scrub (60Mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Ventosa
                                                    and Massage (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,300.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Anti-Aging Body Scrub (60Mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Hand &
                                                    Feet Reflexology (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,100.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Fruit Extract Whitening Body Scrub (60Mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Hot Stone
                                                    Massage (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,400.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Anti-Aging Body Scrub (60Mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Ventosa
                                                    and Massage (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,200.00</td>
                                            </tr>
                                            <tr>
                                                <td class="pack-td">Glutathione Body Scrub (60Mins)
                                                    <br />&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp + Shiatsu
                                                    Massage (60Mins)
                                                </td>
                                                <td class="pack-td">PHP 1,700.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- End of Package Table -->
                                </div>
                                <hr>
                                <h1 class="h1-serv"> Spa Treatment </h1>
                                <div class="row" style="display: block;">
                                    <div class="col-md-4">
                                        <h2>Lemon</h2>
                                        <p>It is rich in Vitamin C and citric acid, so they can help brighten and lighten your
                                            skin.
                                        </p>
                                    </div>
                                    <div class="col-md-6 pull-right">
                                        <br />
                                        <p>
                                            <b>Hand:</b> Php 280.00</p>
                                        <p>
                                            <b>Hand Spa with Manicure:</b> Php 380.00</p>
                                        <p>
                                            <b>Foot:</b> Php 350.00</p>
                                        <p>
                                            <b>Foot Spa with Manicure:</b> Php 450.00</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="display: block;">
                                    <div class="col-md-4">
                                        <h2>Peppermint</h2>
                                        <p>Help to soothe, cool, refresh and invigorate tired feet.</p>
                                    </div>
                                    <div class="col-md-6 pull-right">
                                        <br />
                                        <p>
                                            <b>Hand:</b> Php 270.00</p>
                                        <p>
                                            <b>Hand Spa with Manicure:</b> Php 380.00</p>
                                        <p>
                                            <b>Foot:</b> Php 370.00</p>
                                        <p>
                                            <b>Foot Spa with Manicure:</b> Php 460.00</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="display: block;">
                                    <div class="col-md-4">
                                        <h2>Lavender</h2>
                                        <p>Some of its skin benefits include that of being antiseptic and anti-fungal.</p>
                                    </div>
                                    <div class="col-md-6 pull-right">
                                        <br />
                                        <p>
                                            <b>Hand</b> Price: Php 290.00</p>
                                        <p>
                                            <b>Hand Spa with Manicure</b> Price: Php 380.00</p>
                                        <p>
                                            <b>Foot</b> Price: Php 340.00</p>
                                        <p>
                                            <b>Foot Spa with Manicure</b> Price: Php 480.00</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="display: block;">
                                    <div class="col-md-4">
                                        <h2>Cinnamon</h2>
                                        <p>Help to soothe, cool, refresh and invigorate tired feet.</p>
                                    </div>
                                    <div class="col-md-6 pull-right">
                                        <br />
                                        <p>
                                            <b>Hand</b> Price: Php 280.00</p>
                                        <p>
                                            <b>Hand Spa with Manicure</b> Price: Php 380.00</p>
                                        <p>
                                            <b>Foot</b> Price: Php 360.00</p>
                                        <p>
                                            <b>Foot Spa with Manicure</b> Price: Php 500.00</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style="display: block;">
                                    <div class="col-md-4">
                                        <h2>Mandarin Orange</h2>
                                        <p>Has a Vitamin C and E which are very beneficial in providing a healthy glow to your
                                            skin.
                                        </p>
                                    </div>
                                    <div class="col-md-6 pull-right">
                                        <br />
                                        <p>
                                            <b>Hand</b> Price: Php 280.00</p>
                                        <p>
                                            <b>Hand Spa with Manicure</b> Price: Php 380.00</p>
                                        <p>
                                            <b>Foot</b> Price: Php 360.00</p>
                                        <p>
                                            <b>Foot Spa with Manicure</b> Price: Php 500.00</p>
                                    </div>
                                </div>
                                <!-- End of Spa Treatment -->

                                <hr>
                                <h1 class="h1-serv"> Paraffin Treatment </h1>
                                <div>
                                    <table class="paraf-table">
                                        <tr>
                                            <th class="paraf-th"> </th>
                                            <th class="paraf-th">Hand Paraffin</th>
                                            <th class="paraf-th">Hand Paraffin
                                                <br />with Manicure</th>
                                            <th class="paraf-th">Foot Paraffin</th>
                                            <th class="paraf-th">Foot Paraffin
                                                <br />with Pedicure (Package)</th>
                                        </tr>
                                        <tr>
                                            <th>Paraffin Wax</th>
                                            <td class="paraf-td">Php 300.00</td>
                                            <td class="paraf-td">Php 400.00</td>
                                            <td class="paraf-td">Php 450.00</td>
                                            <td class="paraf-td">Php 580.00</td>
                                        </tr>
                                    </table>
                                    <br />
                                    <h2 class="h1-pack"> PARAFFIN Package </h2>
                                    <br />
                                    <p style="text-align: right; padding-right: 10px;">
                                        <b>Hand Paraffin and Foot Paraffin:</b> PHP 650.00</p>
                                </div>
                                <!-- End of Paraffin Treatment -->

                                <hr>
                                <h1 class="h1-serv"> Straight </h1>
                                <div>
                                    <table class="paraf-table">
                                        <tr>
                                            <th class="paraf-th"> </th>
                                            <th class="paraf-th">Hand</th>
                                            <th class="paraf-th">Feet</th>
                                            <th class="paraf-th">Hand and Feet</th>
                                        </tr>
                                        <tr>
                                            <th>Basic Cleaning</th>
                                            <td class="paraf-td">Php 80.00</td>
                                            <td class="paraf-td">Php 90.00</td>
                                            <td class="paraf-td">Php 150.00</td>
                                        </tr>
                                        <tr>
                                            <th>Basic with Nail Polish</th>
                                            <td class="paraf-td">Php 100.00</td>
                                            <td class="paraf-td">Php 110.00</td>
                                            <td class="paraf-td">Php 200.00</td>
                                        </tr>
                                        <tr>
                                            <th>Polish Change</th>
                                            <td class="paraf-td">Php 50.00</td>
                                            <td class="paraf-td">Php 50.00</td>
                                            <td class="paraf-td">Php 100.00</td>
                                        </tr>
                                    </table>
                                    <br />
                                    <h2 class="h1-pack"> STRAIGHT Additional </h2>
                                    <br />
                                    <p style="text-align: right; padding-right: 10px;">
                                        <b>Add On Polish (Imported):</b> PHP 100.00</p>
                                </div>

                                <hr>
                                <h1 class="h1-serv"> Hair Waxing </h1>
                                <div class="row" style="margin: 0 auto;">
                                    <div class="col-md-9">
                                        <table class="hairwax-table">
                                            <tr>
                                                <th class="hairwax-th"> </th>
                                                <th class="paraf-th">Ladies</th>
                                                <th class="paraf-th">Gentlemen</th>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Upper Lip</th>
                                                <td class="paraf-td">Php 170.00</td>
                                                <td class="paraf-td">Php 250.00</td>

                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Lower Lip</th>
                                                <td class="paraf-td">Php 180.00</td>
                                                <td class="paraf-td">Php 270.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Face</th>
                                                <td class="paraf-td">Php 350.00</td>
                                                <td class="paraf-td">Php 400.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Fingers</th>
                                                <td class="paraf-td">Php 150.00</td>
                                                <td class="paraf-td">Php 150.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Toes</th>
                                                <td class="paraf-td">Php 150.00</td>
                                                <td class="paraf-td">Php 150.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Underarm</th>
                                                <td class="paraf-td">Php 400.00</td>
                                                <td class="paraf-td">Php 450.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Arms</th>
                                                <td class="paraf-td">Php 400.00</td>
                                                <td class="paraf-td">Php 450.00</td>

                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Chest</th>
                                                <td class="paraf-td">Php 450.00</td>
                                                <td class="paraf-td">Php 800.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Back</th>
                                                <td class="paraf-td">Php 450.00</td>
                                                <td class="paraf-td">Php 800.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Bikini</th>
                                                <td class="paraf-td">Php 550.00</td>
                                                <td class="paraf-td">Php 650.00</td>

                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Brazilian</th>
                                                <td class="paraf-td">Php 850.00</td>
                                                <td class="paraf-td">Php 1050.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Half-Leg</th>
                                                <td class="paraf-td">Php 550.00</td>
                                                <td class="paraf-td">Php 700.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Full-Leg</th>
                                                <td class="paraf-td">Php 750.00</td>
                                                <td class="paraf-td">Php 900.00</td>
                                            </tr>
                                            <tr>
                                                <th class="hairwax-th">Full-Body</th>
                                                <td class="paraf-td">Php 3500.00</td>
                                                <td class="paraf-td">Php 4000.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <br />
                                <h2 class="h1-pack"> HAIR WAXING Packages </h2>
                                <div class="row">
                                    <table class="hairwax-pack">
                                        <tr>
                                            <th class="hairwax-th"> </th>
                                            <th class="paraf-th">Ladies</th>
                                            <th class="paraf-th">Gentlemen</th>
                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Arms, Half leg &amp; Underarm</th>
                                            <td class="paraf-td">Php 170.00</td>
                                            <td class="paraf-td">Php 250.00</td>

                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Underarm, Arm &amp; Bikini</th>
                                            <td class="paraf-td">Php 180.00</td>
                                            <td class="paraf-td">Php 270.00</td>
                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Half leg, Lower lip &amp; Arm</th>
                                            <td class="paraf-td">Php 350.00</td>
                                            <td class="paraf-td">Php 400.00</td>
                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Brazilian, Full leg &amp; Underarm</th>
                                            <td class="paraf-td">Php 150.00</td>
                                            <td class="paraf-td">Php 150.00</td>
                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Full leg, Arms &amp; Underarm</th>
                                            <td class="paraf-td">Php 150.00</td>
                                            <td class="paraf-td">Php 150.00</td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                                <h1 class="h1-serv"> Glutathione Drip “12g” </h1>
                                <div class="row">
                                    <div class="col-md-12" style="padding-top: 30px; margin: 5px;">
                                        <img class="img-circle" src="assets/images/icon-inject.png" width="10%" style="float: left;">
                                        <h2>
                                            <b>Glutathione</b> 6.5g </h2>
                                        <p style="text-align: justify;">&emsp;&emsp; A power Anti-Oxidant, neutralizes and clears and heavy metals and toxins
                                            from the body, it powerful anti-aging benefits. It protects your DNA from damage
                                            and maintains optimal immunity and protects against free radical.</p>
                                    </div>
                                </div>
                                <br />
                                <hr style="width: 30%; float: left;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="img-circle" src="assets/images/icon-inject.png" width="10%" style="float: right;">
                                        <h2 style="text-align: right;">
                                            <b>Collagen</b> 1.5g </h2>
                                        <p style="text-align: right;">&emsp;&emsp; A power Anti-Aging, it promote healing of injuries, strengthen blood
                                            vessels and improve their elasticity. It improves skin elasticity and relieves
                                            Arthritis pain.
                                        </p>
                                    </div>
                                </div>
                                <br />
                                <hr style="width: 30%; float: right;">
                                <div class="row">
                                    <div class="col-md-12" style="margin: 5px;">
                                        <img class="img-circle" src="assets/images/icon-inject.png" width="10%" style="float: left;">
                                        <h2>
                                            <b>Vitamin C</b> 1g </h2>
                                        <p style="text-align: justify;">&emsp;&emsp; The protection against immune system deficiency, it promotes hair health,
                                            it makes you look and feel energized, and it wards off sign of again and promote
                                            nail growth. It also helps heart diseases, diabetes and cancer.</p>
                                    </div>
                                </div>
                                <br />
                                <hr style="width: 30%; float: left;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="img-circle" src="assets/images/icon-inject.png" width="10%" style="float: right;">
                                        <h2 style="text-align: right;">
                                            <b>Vitamin B2</b> 1g </h2>
                                        <p style="text-align: right;">&emsp;&emsp; It plays the major role in the production of energy, it is important
                                            for normal vision and for normal appetite. It offers anti-oxidant protection
                                            and promotes Iron metabolism.</p>
                                    </div>
                                </div>
                                <br />
                                <hr style="width: 30%; float: right;">
                                <div class="row">
                                    <div class="col-md-12" style="padding-top: 30px; margin: 5px;">
                                        <img class="img-circle" src="assets/images/icon-inject.png" width="10%" style="float: left;">
                                        <h2>
                                            <b>Placenta</b> 1g </h2>
                                        <p style="text-align: justify;">&emsp;&emsp; It fights and reverses the skin-aging process, it stimulates skin cell
                                            renewal to revitalize the skin. It visible reduces wrinkles and fine lines. It
                                            is a clinically proven whitening and cellular rejuvenation.</p>
                                    </div>
                                </div>
                                <br />
                                <hr style="width: 30%; float: left;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="img-circle" src="assets/images/icon-inject.png" width="10%" style="float: right;">
                                        <h2 style="text-align: right;">
                                            <b>A.Stem Cell</b> 500mg </h2>
                                        <p style="text-align: right;">&emsp;&emsp; Reactivates again stem cells and stimulates the production of elastin
                                            and collagen. It is formulated to rejuvenate your body and slow the aging process.
                                            This can help you feel better, younger looking skin and improve your health.
                                            It rejuvenates damaged and old tissues. It also boosts your energy level.</p>
                                    </div>
                                </div>
                                <br />
                                <hr style="width: 30%; float: right;">
                                <div class="row">
                                    <div class="col-md-12" style="padding-top: 30px; margin: 5px;">
                                        <img class="img-circle" src="assets/images/icon-inject.png" width="10%" style="float: left;">
                                        <h2>
                                            <b>Vitamin E</b> 500mg </h2>
                                        <p style="text-align: justify;">&emsp;&emsp; It moisturizes your skin and gives you a smooth and glowing skin. It
                                            is also an anti-oxidant that protects body tissue from damage caused by substances
                                            called free radicals. It also helps to keep you immune system strong against
                                            viruses and bacteria. It also helps healing process.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">

                                    </div>
                                    <div class="col-md-5">
                                        <p style="margin-top: 20px; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; border-left: solid 7px; font-size: 18px;">
                                            <b>PER SESSION:</b> Php 4,000.00
                                            <br />
                                            <b>5 SESSIONS:</b> Php 18,000.00 </p>
                                    </div>
                                </div>
                                <!-- End of Gluta Drip -->

                                <hr>
                                <h1 class="h1-serv">Glutathione IV Push</h1>
                                <div class="row">
                                    <div class="col-md-6" style="padding-top: 30px;">
                                        <img class="img-circle" src="assets/images/icon-push.png" width="20%" style="float: left;">
                                        <h3>Glutathione 1,200mg with 500mg Vitamin C</h3>
                                        <br />
                                        <p style="text-align: right; font-size: 16px;">
                                            <b>Price: Php 1,500.00</b> / Per session </p>
                                        <br />
                                        <hr style="width: 30%; float: right;">
                                        <br />
                                        <p style="text-align: right; font-size: 15px;">
                                            <b>Packages:</b>
                                        </p>
                                        <p style="text-align: right; font-size: 15px;">
                                            <b>5 sessions</b> – Php 7,000.00
                                            <br />
                                            <b>10 sessions</b> – Php 13,000.00
                                        </p>
                                    </div>
                                    <div class="col-md-6" style="padding-top: 30px;">
                                        <img class="img-circle" src="assets/images/icon-push.png" width="20%" style="float: left;">
                                        <h3>Glutathione 1,200mg with 500mg Vitamin C</h3>
                                        <br />
                                        <p style="text-align: right; font-size: 16px;">
                                            <b>Price: Php 1,500.00</b> / Per session </p>
                                        <br />
                                        <hr style="width: 30%; float: right;">
                                        <br />
                                        <p style="text-align: right; font-size: 15px;">
                                            <b>Packages:</b>
                                        </p>
                                        <p style="text-align: right; font-size: 15px;">
                                            <b>5 sessions</b> – Php 7,000.00
                                            <br />
                                            <b>10 sessions</b> – Php 13,000.00
                                        </p>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <hr>
                                <h1 class="h1-serv">Traditional Herbal Steam Bath “Suob”</h1>
                                <div class="row">
                                    <div class="col-md-12">
                                        <img src="assets/images/icon-steam.png" width="20%" style="float: left;  margin: 10px;">
                                        <p style="text-align: justify; padding-left: 20px; padding-top: 20px;">
                                            &emsp;&emsp;&emsp;&emsp;Steam opens the pores of the body and the botanicals are absorbed properly into the body. Besides
                                            this, steam facilitates the breathing of a person. In this way, person inhales
                                            herbs with steam and breathing. Herbal active constituents get into the body
                                            and give more benefits to the person having an herbal steam bath.
                                            <br /> &emsp;&emsp;&emsp;&emsp;The healing power of steam bath is well known. It boosts
                                            the health, increases energy of the human body, refreshing entire bodily systems
                                            and has good impact on almost all organs of the human body. Herbal steam baths
                                            was used in medieval times for physical and mental relaxation.
                                            <br /> &emsp;&emsp;&emsp;&emsp;Steam bath has been in use for the childbirth and many
                                            other health purposes. Herbal steam baths are very helpful in many ways. They
                                            not only cleanse the body deeply, but also open the pores, remove the toxins
                                            from them, which may come out from the sweat of the skin. In addition, herbal
                                            steam baths refresh the blood circulation and activate the mind, and release
                                            the stress of the person. Herbal steam baths also increase the glow of the skin,
                                            when beneficial herbs for skin are added in water used for generating steam.
                                            By tradition, drinking ginger tea after herbal steam bath is very beneficial.
                                            It makes person fresher and active throughout the day.
                                            <br /> &emsp;&emsp;&emsp;&emsp;Herbal steam bath can act as a natural detox, which
                                            can cause the body to sweat and expel out all the toxins from the body, which
                                            is very beneficial for the liver. Therefore, herbal steam baths detoxify the
                                            liver as well. Herbs present in the steam cleanse the skin and encourages the
                                            release of excess uric acid from the body.
                                        </p>
                                        <br />
                                        <h3 style="text-align: right;"> Traditional Herbal Steam Bath “Suob” (30mins)
                                            <br /> with Swedish Massage (60mins)
                                            <br />
                                        </h3>
                                        <p style="font-size: 16px; text-align: right; border-right: solid 5px;">
                                            <b>Price:</b> Php 950.00 &emsp;</p>
                                        <br />
                                        <br />
                                        <h4 style="text-align: center;"> Precautions: </h4>
                                        <p style="text-align: center;">A steam bath is not for everyone and not anyone should do this without some precautions.</p>
                                        <br />
                                        <hr style="width: 40%;">
                                        <p style="text-align: justify; margin-left: 100px; margin-right: 100px">
                                            &#8472;&emsp;&emsp;&emsp;&emsp;People with known heart conditions or those women who are pregnant should not take an herbal
                                            steam bath, as essential oils are very powerful and they may cause them problem
                                            while inhaled or absorbed.
                                            <br />
                                            <br /> &#8472;&emsp;&emsp;&emsp;&emsp;Besides this, a person before taking an herbal
                                            steam bath should drink plenty of water as steam bath causes a lot of sweating
                                            and this could result in dehydration in the person.
                                            <br />
                                            <br /> &#8472;&emsp;&emsp;&emsp;&emsp;Although these herbs and oils are natural, but
                                            sometimes people are allergic to some things, even with the natural things, so
                                            before using herbs and oils, consult the physician or herbal or aroma therapist.
                                            Use the appropriate herbs in the steam bath recommended for your skin type, which
                                            could result in a better and beneficial way.
                                            <br />
                                            <br /> &#8472;&emsp;&emsp;&emsp;&emsp;In steam bath, as the body is subjected to a
                                            high temperatures so the heartbeat reaches to about 140 beats per minute. Therefore
                                            pregnant women, persons having heart or blood pressure problems or elderly people
                                            should not take this bath because it may cause some severe problems in them.
                                        </p>
                                    </div>
                                </div>

                                <br />
                                <br />
                                <br />
                                <hr>
                                <h1 class="h1-serv">Other Services</h1>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Reflexology</h2>
                                        <p> &emsp;&emsp;&emsp;&emsp;Is an alternative medicine involving application of pressure
                                            to the feet and hands with specific thumb, finger, and hand these areas and reflex
                                            points corresponds to different body organs and systems, and that pressing them
                                            has a beneficial effect on the organs and person’s general health.</p>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 10px; padding-top: 70px; float: right;">
                                        &emsp;&emsp;
                                        <b>Hand</b> Price: Php 200.00 / 30 mins
                                        <br /> &emsp;&emsp;
                                        <b>Feet</b> Price: Php 280.00 / 30 mins
                                        <br />
                                        <br /> &emsp;&emsp;
                                        <b>Package:
                                            <br/> &emsp;&emsp;Hand and Feet</b> (PHP 399.00/ 60 mins)
                                    </div>
                                </div>
                                <hr style="width: 40%;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h2>Ear Candling</h2>
                                        <p> &emsp;&emsp;&emsp;&emsp;Is an alternative medicine practice claimed to improve general
                                            health and well-being by lighting one end of a hollow candle placing the other
                                            end in the ear canal.
                                        </p>
                                    </div>
                                    <div class="col-md-6" style="padding-left: 10px; padding-top: 70px; float: right;">
                                        &emsp;&emsp;
                                        <b>Price:</b> Php 200.00
                                        <br />
                                    </div>
                                </div>

                                <br />
                                <br />
                                <br />
                                <hr>
                                <h1 class="h1-serv">KIDDIE Price</h1>
                                <div class="row" style="margin-left: 20px; margin-right: 20px;">
                                    <h2>Swedish Massage</h2>
                                    <p style="text-align: justify;">&emsp;&emsp;&emsp;&emsp;It is a various hands-on techniques including gliding, kneading,
                                        and cross-fiber friction to break up muscle knots, called adhesions.</p>
                                    <p style="text-align: right;">
                                        <b>Price:</b> Php 299.00 / 60 mins</p>

                                    <hr style="width: 40%;">
                                    <h2>Spa Treatment</h2>
                                    <table class="hairwax-table">
                                        <tr>
                                            <th class="hairwax-th"> </th>
                                            <th class="paraf-th">Hand</th>
                                            <th class="paraf-th">Hand Spa with Manicure</th>
                                            <th class="paraf-th">Foot</th>
                                            <th class="paraf-th">Foot Spa with Manicure</th>
                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Mandarin Orange</th>
                                            <td class="paraf-td">Php 199.00</td>
                                            <td class="paraf-td">Php 259.00</td>
                                            <td class="paraf-td">Php 299.00</td>
                                            <td class="paraf-td">Php 350.00</td>
                                        </tr>
                                    </table>

                                    <hr style="width: 40%;">
                                    <h2>Straight</h2>
                                    <table class="hairwax-table">
                                        <tr>
                                            <th class="hairwax-th"> </th>
                                            <th class="paraf-th">Hand</th>
                                            <th class="paraf-th">Feet</th>
                                            <th class="paraf-th">Hand and Feet (Package)</th>
                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Basic Cleaning</th>
                                            <td class="paraf-td">Php 80.00</td>
                                            <td class="paraf-td">Php 90.00</td>
                                            <td class="paraf-td">Php 150.00</td>
                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Basic with Nail Polish</th>
                                            <td class="paraf-td">Php 100.00</td>
                                            <td class="paraf-td">Php 110.00</td>
                                            <td class="paraf-td">Php 200.00</td>
                                        </tr>
                                        <tr>
                                            <th class="hairwax-th">Polish Change</th>
                                            <td class="paraf-td">Php 50.00</td>
                                            <td class="paraf-td">Php 50.00</td>
                                            <td class="paraf-td">Php 100.00</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="bootstrap-3.3.6/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="bootstrap-3.3.6/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src='https://code.jquery.com/jquery-1.10.1.min.js'></script>

    <script type="text/javascript" src="assets/JS/scroll.js"></script>
    <script type="text/javascript" src="assets/JS/navbar-scroll.js"></script>
    <script type="text/javascript" src="assets/JS/animationscroll.js"></script>

    <!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function () {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>
</body>

</html>