<!DOCTYPE html>
<html lang="en">
	<head>
		<title> EForea | Services </title>
	    <meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="icon" href="assets/images/icon-lotus.png">

	    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <link href="assets/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
	    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	    <script src="assets/bootstrap/js/ie-emulation-modes-warning.js"></script>

	    <!-- CSS -->
	    <link href="assets/CSS/style.css" rel="stylesheet">
	    <link href="assets/CSS/reserve.css" rel="stylesheet">
	    <link href="assets/CSS/parallax.css" rel="stylesheet">
	    <link href="assets/CSS/image-hover-tilt.css" rel="stylesheet">
	</head>

	<body>
		 <nav class="navbar navbar-fixed-top">
          <div class="container-fluid"> 
            <div class="navbar-header">
              <a href="/" class="site_title">
              	<img src="assets/images/logo-2.png" class="home-logo" alt="Eforea Nail and Body Spa">
              </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="#" id="active-menu"><b>Services</b></a></li>
                <!-- <li><a href="/schedule">Schedule</a></li> -->
                <li><a href="/about-us">About Us</a></li>
                <li><a href="/reserve">Reserve Now</a></li>
              </ul>
          </div>
         </div>
        </nav>
	        
	    <div class="first-wrap">
			<div class="first-div">
			    <div class="first-inner-div">
			      	<p class="msg-p"><strong>OUR <span class="p-serv">SERVICES</span></strong> </p>
			      	<p class="msg-p2">Male and Female. Kids and Adults. From Heads to Toes.<br />EForea Nail and Body Spa has services to offer that will promise its customers an <span style="color: #034777; text-shadow: 1px 1px black;"><strong>unregrettable experience</strong></span> of their lives.</p><br />
			      	<center>
			      		<a href="#2nddiv">
			      			<input type="button" class="login" value="Browse">
			      		</a>
			      	</center>
				</div>
			</div>
		</div>
		<div class="second-wrap" id="2nddiv">
		  	<div class="second-div">
		    	<p style="color: white;">
		     		<span class="line-separator"></span> <strong>Massage Services</strong> 
		     		<span class="line-separator"></span>
		    	</p>
		  	</div>
		  	<div class="third-div">
		  		<div class="row">
		  			<div class="col-md-12"><br /><br />
		  				<p class="p-desc">Do not worry about stress and deadlines anymore! <br /><span class="p-desc3"><strong>Come to us, take a sit, have a massage, then free your mind...</strong></span> <br />We promise that all your problems will be left forgotten for a while.</p>
		  				<hr style="width: 100px;">
		  			</div>
		  		</div>
		  		<br /><br />
		  		<div class="row">
		  			<div class="col-md-12 msgserv">
		  				<center>
						<figure class="snip1104 blue">
						  <img src="assets/images/eforea/Shiatsu massage.jpg" alt="Shiatsu Massage" />
							  <figcaption>
							    <h2>Shiatsu  <span> Massage</span></h2>
							  </figcaption><a href="#"></a>
						</figure>
						<figure class="snip1104 blue hover">
		  					<img src="assets/images/eforea/Ventosa.jpg" alt="Ventosa"/>
							  <figcaption>
							    <h2>Ventosa<span></span></h2>
							  </figcaption><a href="#"></a>
						</figure>
						<figure class="snip1104 blue">
							<img src="assets/images/eforea/Swedish massage.jpg" alt="Swedish Massage"/>
							  <figcaption>
							    <h2>Swedish  <span> Massage</span></h2>
							  </figcaption><a href="#"></a>
						</figure>
						</center>
					</div>
		  		</div>
		  		<br /><br />
		  		<div>
					<p class="p-desc">Aside from having skilled therapists and good ambience, <br />EForea's massage services is also budget-friendly!  <span class="p-desc2"><strong>WOW, right?</strong></span><br /> <span class="p-desc3"><strong>What a complete package!</strong></span><p>
			  		<hr style="width: 100px;"><br /><br /><br /><br />
				</div>
		  		<!-- <hr style="width: 50%;"><br /><br /><br /><br /> -->
		  	</div>

		  	<div class="third-wrap">
			  <div class="fourth-div" id="4thdiv">
			    <p class="body-text">
			      <span class="line-separator"></span><strong>Body Scrub</strong> 
			      <span class="line-separator"></span>
			    </p>
			  </div>
			  <div class="fifth-div">
			  	<div class="row">
		  			<div class="col-md-12">
		  				<p class="p-desc"> <span style="font-size: 50px;">"</span> Body scrubs are one of the best and most underrated spa treatments.<span style="font-size: 50px;">"</span><p>
		  				<hr style="width: 100px;">
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="col-md-12 msgserv">
		  				<center>
						<figure class="snip1104 green">
						  <img src="assets/images/eforea/Dead sea salt body scrub.png" alt="Dead Sea Salt body scrub" />
							  <figcaption>
							    <h2>Dead  <span> Sea Salt</span></h2>
							  </figcaption><a href="#"></a>
						</figure>
						<figure class="snip1104 green hover">
		  					<img src="assets/images/eforea/Fruit extract body scrub.png" alt="Fruit Extract Body Scrub"/>
							  <figcaption>
							    <h2>Fruit  <span> Extract</span></h2>
							  </figcaption><a href="#"></a>
						</figure>
						<figure class="snip1104 green">
							<img src="assets/images/eforea/Glutathione Body scrub.png" alt="Glutathione Body Scrub"/>
							  <figcaption>
							    <h2>Glutathione  <span></span></h2>
							  </figcaption><a href="#"></a>
						</figure></center>
						<br />
		  			</div>
		  			<center>

		  				<img src="assets/images/icon-lotus.png" class="lotus">
		  			</center>
			  </div>
			  <div>
			  		<br>
			  		<center>
			  			<p class="p-desc">A body scrub is a popular body treatment that is basically<br /> a facial for the body: it <span class="p-desc2"><strong>exfoliates and hydrates</strong></span> your skin, <br />leaving it smooth and soft.<p> <br><br><br><br><br>
			  		</center>
			  	</div>		
			</div>

			<div class="fourth-wrap">
			  <div class="second-div" id="2nddiv">
			    <p class="body-text">
			      <span class="line-separator"></span><strong>Spa & Paraffin Treatment</strong> 
			      <span class="line-separator"></span>
			    </p>
			  </div>
			  <div class="third-div">
			  	<br /><br />
			  	<p class="p-desc">Spa and Paraffin treatment are also parts of the menu. <br />These are used in giving medicinal baths and personal care treatments to customers, <br />be it an adult or a kiddie!<p>
			  		<hr style="width: 100px;">
			  		<div class="row">
			  			<div class="col-md-12 msgserv">
				  			<center>
				  				<br /><br />
								<figure class="snip1104 red">
								  <img src="assets/images/eforea/lavender.jpg" alt="Lavender Treatment" />
									  <figcaption>
									    <h2>Lavender</h2>
									  </figcaption><a href="#"></a>
								</figure>
								<figure class="snip1104 red hover">
									<img src="assets/images/eforea/mandarin-orange.jpg" alt="Mandarin Orange Treatment"/>
									  <figcaption>
									    <h2>Mandarin  <span> Orange</span></h2>
									  </figcaption><a href="#"></a>
								</figure>
								<figure class="snip1104 red">
				  					<img src="assets/images/eforea/lemon.jpg" alt="Lemon Treatment"/>
									  <figcaption>
									    <h2>Lemon<span></span></h2>
									  </figcaption><a href="#"></a>
								</figure>
							</center>
						</div>
					</div><br />
					<div class="row">
						<div class="col-md-12 msgserv1">
							<center>
								<figure class="snip1104 red">
									<img src="assets/images/eforea/cinnamon.jpg" alt="Cinnamon Treatment"/>
									  <figcaption>
									    <h2>Cinnamon</h2>
									  </figcaption><a href="#"></a>
								</figure>
								<figure class="snip1104 red">
				  					<img src="assets/images/eforea/peppermint.jpg" alt="Peppermint Treatment"/>
									  <figcaption>
									    <h2>Peppermint<span></span></h2>
									  </figcaption><a href="#"></a>
								</figure>
							</center>
							
						</div>
					</div>
			  </div>
			</div>

			<div class="fifth-wrap">
			  <div class="second-div" id="2nddiv">
			    <p class="body-text">
			      <span class="line-separator"></span><strong>Straight</strong> 
			      <span class="line-separator"></span>
			    </p>
			  </div>
			  <div class="third-div">
			  	<br /><br />
			  	<p class="p-desc">Are you one of those people who says <span class="p-desc2"><strong>#NailsAreLife #ManicureIsLife?</strong></span><br />Because if you are, then you are on the right page!<p>
			  	<hr style="width: 100px;">
				  <div class="row">
			  			<div class="col-md-12 msgserv">
				  			<center><br /><br />
								<figure class="snip1104 red">
								  <img src="assets/images/eforea/Basic cleaning.jpg" alt="Basic Cleaning" />
									  <figcaption>
									     <h2>Basic  <span> Cleaning</span></h2>
									  </figcaption><a href="#"></a>
								</figure>
								<figure class="snip1104 red hover">
									<img src="assets/images/eforea/Basic with nail polish.jpg" alt="Basic with Nail Polish"/>
									  <figcaption>
									    <h2>Basic with  <span> Nail Polish</span></h2>
									  </figcaption><a href="#"></a>
								</figure>
								<figure class="snip1104 red">
				  					<img src="assets/images/eforea/Polish change.jpg" alt="Polish Change"/>
									  <figcaption>
									    <h2>Polish  <span> Change</span></h2>
									  </figcaption><a href="#"></a>
								</figure>
							</center>
						</div>
					</div><br />
					<div>
						<p class="p-desc">For people who wants to achieve their <span class="p-desc2"><strong>#NailGoals</strong></span> <br /> this year but only have limited budget to do so,<br /><span class="p-desc3"><strong> worry no more. </strong></span><br /> EForea is here to save the day!  <p>
				  		<hr style="width: 100px;">
					</div>
				</div>
			</div>

			<div class="sixth-wrap">
			  <div class="second-div" id="2nddiv">
			    <p class="body-text">
			      <span class="line-separator"></span><strong>Hair Waxing</strong> 
			      <span class="line-separator"></span>
			    </p>
			  </div>
			  <div class="third-div">
			  	<br /><br />
			  	<p class="p-desc">Too much shaving can damage your skin, <br />so why not try Eforea's one of the most availed services?<br /> <span class="p-desc2"><strong>Hair Waxing.</strong></span><p>
			  	<hr style="width: 100px;">
				  <div class="row">
		  			<div class="col-md-12 msgserv">
			  			<center><br /><br />
							<figure class="snip1104 red">
							  <img src="assets/images/eforea/hair waxing face.jpg" alt="Face Hair Wax" />
								  <figcaption>
								     <h2>Face  <span> Hair Wax</span></h2>
								  </figcaption><a href="#"></a>
							</figure>
							<figure class="snip1104 red hover">
								<img src="assets/images/eforea/hair waxing full body.jpg" alt=" Full Body Hair Wax"/>
								  <figcaption>
								    <h2>Full Body <span> Hair Wax</span></h2>
								  </figcaption><a href="#"></a>
							</figure>
							<figure class="snip1104 red">
			  					<img src="assets/images/eforea/hair waxing toes.jpg" alt="Toe Hair Wax"/>
								  <figcaption>
								    <h2>Toe  <span> Hair Wax</span></h2>
								  </figcaption><a href="#"></a>
							</figure>
						</center>
					</div>
					</div><br />
					<div>
						<p class="p-desc">EForea offers hair waxing services from <span class="p-desc2"><strong>head to toes,</strong></span><br /> for both <span class="p-desc2"><strong> men and women. </strong></span><br /> PLUS, you can have it for a budget-friendly price! :)  <p>
				  		<hr style="width: 100px;">
					</div>
			  </div>
			</div>

			<div class="seventh-wrap">
			  <div class="second-div" id="2nddiv">
			    <p class="body-text">
			      <span class="line-separator"></span><strong>Glutathione Drip & Push</strong> 
			      <span class="line-separator"></span>
			    </p>
			  </div>
			  <div class="third-div">
			  	<br />
			  	<p class="p-desc">Want to have fairer skin without worrying for the risks?<br />Skip the negative what-ifs because EForea has been <span class="p-desc2"><strong>tried and tested</strong></span> by previous customers.<br />And guess what their feedbacks are... <br /><span class="p-desc3"><strong>S A T I S F I E D !</strong></span><p>
			  	<hr style="width: 100px;">
				  <div class="row">
		  			<div class="col-md-12 msgserv1">
			  			<center><br /><br />
						<figure class="snip1104 yellow">
						  <img src="assets/images/eforea/glutathione drip.jpg" alt="Glutathione Drip" />
							  <figcaption>
							     <h2>Glutathione  <span> Drip</span></h2>
							  </figcaption><a href="#"></a>
						</figure>
						<figure class="snip1104 yellow">
							<img src="assets/images/eforea/glutathione IV2.jpg" alt=" Glutathione Push"/>
							  <figcaption>
							    <h2>Glutathione <span> Push</span></h2>
							  </figcaption><a href="#"></a>
						</figure>
					</center>
				</div>
				</div><br />
				<div>
					<p class="p-desc">Therapists with real knowledge and experience in Gluta Push and Drip are the assets of EForea. <br />So rest assured!<br /> <span class="p-desc2"><strong>You are safe with us! ;)</strong></span><p>
			  		<hr style="width: 100px;">
				</div>
			  </div>
			</div>

			<div class="eighth-wrap">
			  <div class="second-div" id="2nddiv">
			    <p class="body-text">
			      <span class="line-separator"></span><strong>Other Services</strong> 
			      <span class="line-separator"></span>
			    </p>
			  </div>
			  <div class="third-div">
			  	<br />
			  	<p class="p-desc">Aside from the usual services offered by almost all spas, <br />EForea has <span class="p-desc3"><strong>reflexology and ear candling</strong></span> <br />which is hard to find in other spas.<p>
			  	<hr style="width: 100px;">
				  <div class="row">
		  			<div class="col-md-12 msgserv1">
			  			<center><br /><br />
						<figure class="snip1104 blue">
						  <img src="assets/images/eforea/Ear Candling.jpg" alt="Ear Candling" />
							  <figcaption>
							     <h2>Ear  <span> Candling</span></h2>
							  </figcaption><a href="#"></a>
						</figure>
						<figure class="snip1104 blue">
							<img src="assets/images/eforea/Hand reflexology.jpg" alt=" Hand Reflexology"/>
							  <figcaption>
							    <h2>Hand <span> Reflexology</span></h2>
							  </figcaption><a href="#"></a>
						</figure>
					</center>
				</div>
				</div><br />
				<div>
					<p class="p-desc">While it is hard to find these services elsewhere,<br />You are still assured of a quality service.<br /> <span class="p-desc2"><strong>; )</strong></span><p>
			  		<hr style="width: 100px;">
				</div>
			  </div>
			</div>

		<!-- <span href="#" id="back-to-top" class="" title="Back to Top"></span> -->
		<a href="#" id="back-to-top" title="Back to top">&uarr;</a>

	    <!-- SCRIPTS -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
	    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
	    <script src="bootstrap-3.3.6/assets/js/vendor/holder.min.js"></script>
	    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	    <script src="bootstrap-3.3.6/assets/js/ie10-viewport-bug-workaround.js"></script>
	    <script src='https://code.jquery.com/jquery-1.10.1.min.js'></script>

	    <script type="text/javascript" src="assets/js/animationscroll.js"></script>
		<script type="text/javascript" src="assets/js/parallax.js"></script>
		<script type="text/javascript" src="assets/js/image-hover-leave.js"></script>
	    <!-- Jquery needed -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	    <script src="assets/js/scripts.js"></script>
	</body>
</html>