<form method="POST" action="/reserve">
    <input type="text" name="name">
    <input type="text" name="number">
    <input type="text" name="address">
    <input type="text" name="services">
    <input type="date" name="date">
    <input type="submit" value="Done!">
</form>